.DS_Store
pom.xml
*jar
lib/*
classes/*
out/*
target/*
.lein-deps-sum
.lein-repl-history
.lein-plugins/*
node_modules/*
*.iml
*.ipr
*.iws
electron/*
/app/dev/js/*
/app/prod/js/*
/app/dev/css/*
/app/prod/css/*
.sass-cache
.sass-cache
/figwheel_server.log
